* {
    margin: 0;
    padding: 0;
  }
  
  .header {
      display: flex;
      justify-content: center;
      background-color: aquamarine;
      color: magenta;
      padding: 20px 0;
      font-family: "Comic Sans MS", cursive, sans-serif;
      font-weight: bold;
      font-size: 20px;
  }
  
  .pic-container {
      display: flex;
      justify-content: center;
  }
  
  .pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url("https://images.unsplash.com/photo-1551905377-14c1b04058ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    max-width: 1000px;
  }
  
  .pictures img {
    display: flex;
    justify-content: space-around;
    width: 20%;
    padding: 20px;
  }